body {
  background: #F0F0EB;
  font-family:'Montserrat', sans-serif;
}

table {
border-collapse: collapse;
}

#table-1 th, td {
border: 4px solid black;
padding: 16px;
text-align: left;
}

.vardas {
  font-weight: normal;

}
.color1 {
  background: #A9B6CC;
  color: #3D3D3D;
}

.color2 {
  background: #FFEC67;
  color: #3D3D3D;
}

.color3 {
  background: #BDCC94;
  color: #3D3D3D;
}

.number {
    font-weight: bold;
}

.book {
    font-weight: bold;
}
